body {
    font-family: Arial, sans-serif;
    background-color: blue;
    margin: 0;
    padding: 0;
}
.container{
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="password"],
input[type="date"]{
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
}
button{
    padding: 10px;
    background-color: #333;
    color:#fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background-color: #555;
}